/* Reset */

body, p, ul, li, h1, blockquote {
    padding: 0px;
    margin: 0px;
} 

body {
    font-family: 'Vollkorn', Georgia, serif;
}

ul {
    list-style: none; /* tirando a bolinha que  veem do lado da lista */
}

a {
    text-decoration: none; /* tirando sublinhado dos links */
}

img {
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box; /* não irá somar bordas, padding, etc ao tamanho já definido do item */
}

/* Fim Reset */

/* Grid Geral */

.estrutura {
    display: grid; /* dizendo que irá usar a visualização do grid layout */
    grid-template-columns: minmax(160px, 1fr) 3fr 300px;/* dizendo que irá ter 3 colunas o site, uma para a sidenav, uma para content e outra para anúncio, a primeira coluna irá ter no mínimo 160px e no máximo 1fr (unidade de medida fracional que é de acordo com o espaço que têm no grid), 3fr o content terá 3 vezes mais o tamanho do que o um 1fr, os anúncios terão no máximo 300px */
    grid-template-areas: 
        "header header header"
        "sidenav conteudo anuncios"
        "footer footer footer"; /* criando as áreas principais do site, onde primeiro virá o cabeçalho depois a sidenav, depois conteudo e anuncio, por último o footer */
}

.header {
    grid-area: header; /* definindo a area do header */
}

.sidenav {
    grid-area: sidenav;
}

.content {
    grid-area: conteudo;
}

.anuncios {
    grid-area: anuncios;
}

.footer {
    grid-area: footer;
}

/* Fim Grid Geral */

/* Header */

.header {
    background: linear-gradient(135deg, #8844ee, #B07DFB); /* criando um gradiente entre as cores de 135 graus*/
    padding: 30px; /* preenchimento que será o mesmo tamanho que o gutter do site */
    display: grid; /* dizendo que irá utilizar o gridlayout */
    grid-template-columns: 1fr auto; /* dizendo que o logo irá ter o tamanho de 1fr e que o menu será automático o tamanho */
    align-items: center; /* alinhando ao centro os itens na vertical */
}

.logo {
    max-width: 200px; /* tamanho máximo do logo será 200px */
}

.header nav ul {
    display: flex; /* definindo que a lista será flexbox para que fique lado a lado */
    flex-wrap: wrap; /* quando não couber mais irá quebrar linha */
}

.header nav a {
    display: block; /* adicionando display block pois irá influenciar no tamanho do a, por isso é alterado de inline para block */
    padding: 10px; /* aumentando área de contato para o mobile */
    color: #fff;
    font-size: 1.5em;
    background: rgba(0, 0, 0, .1); /* criando um background que irá usar principalmente a cor de fundo, opacidade de 10% */
    transition: 0.1s; /* criando uma transição nos a para que quando passar o mouse ter mais fluidez na mudança */
    border-radius: 6px; /* criando as bordas arredondadas */
}

.header nav a:hover { /* quando passar o mouse por cima */
    background: rgba(0, 0, 0, .5); /* opacidade de 50% */
}

.header nav li + li { /* adjacente irá sempre pegar depois do primeiro li  */
    margin-left: 30px; /* adicionado margem que irá ser no segundo item li */
}

/* Fim Header */